[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
rope = "*"
cython = ">=3.1"

[packages]
cython = ">=3.1"
numpy = ">=2.2"
plyer = ">=2.1"
pysdl2 = ">=0.9.16"
pillow = ">=9.1"
